extends layout  
block content  
    form.form-horizontal(method='post')  
        fieldset  
            legend  登录  
            div.control-group  
                label.control-label(for='username') 用户名  
                div.controls  
                    input.input-xlarge#username(name='username',type='text')  
            div.control-group  
                label.control-label(for='password') 密码  
                div.controls  
                    input.input-xlarge#password(name='password',type='password')  
            div.form-actions  
                button.btn.btn-primary(type="submit") 登录  