extends layout 
block content
    form.form-horizontal(method="post")  
        fieldset  
            legend  注册  
            div.control-group  
                label.control-label(for="username") 用户名  
                div.controls  
                    input.input-xlarge#username(type="text",name="username")  
                    p.help-block    你的账户名称，用于登录和提示  
  
            div.control-group  
                label.control-label(for="password") 密码  
                div.controls  
                    input.input-xlarge#password(type="password",name="password")  
  
            div.control-group  
                label.control-label(for="password-repeat")  重复输入密码 
                div.controls  
                    input.input-xlarge#password-repeat(type="password",name="password-repeat")  
  
            div.form-actions  
                button.btn.btn-priamry(type="submit")   注册  
